alias l='ls'
alias ll='ls -l'
alias la='ls -A'
alias lla='ls -lA'

alias date='env LANG=C date'

alias wgetua='wget -U '\''Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36'\'' '
alias py='python'

alias apt='sudo apt'
alias pacman='sudo pacman'
alias systemctl='sudo systemctl'
